

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.text-primary{
    color: #FD6E0A;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:50px 200px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 20px;
    
}

nav a{
    text-decoration: none;
    color:#474747;
    font-size: 20px;
}

nav a:hover{
    background-color: #FD6E0A;
}

.nav-title{
   font-weight: 800;
   font-size: 45px;
}

.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color:white;
    border-radius: 5px;
    padding: 15px 35px;
    border: none;

}

/* about banner */

header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 200px;
    
}

.banner-content{
    width: 580px;
}
.banner img{
    width:500px;

}
.greeting{
    font-size:45px;
    font-weight: bold;
    color:#474747;
}
.banner-title{
    font-weight: bolder;
    font-size: 85px;

}
.banner-text{
    font-weight: 18px;
    color:#757575
}

/* shared section */

.background-color{
    background-color:#FFF8F3;
}
.about-title{
  font-size: 35px;
  font-weight: bold;
  color:#181818;  
}
.about-description{
    font-size: 18px;
    color:#757575;
}

/* About Section */

.about{
   
    
    padding: 131px 156px;
    border-radius: 10px;
    text-align: center;
    

}
main{
     max-width: 1140px;
    margin:0 auto;
}
.items{
    display: flex;
    justify-content: space-around;
}